.hero {
  margin-top: 120px;
  text-align: center;
  background-color: white;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  color: darkviolet;
}
.small-photos {
  width: 50%;
  height: auto;
  margin: 10px;
  vertical-align: middle;
  border: 2px;
  border-color: darkviolet;
  border-style: double;
}
.large-photos {
  width: 105%;
  height: auto;
  margin: 12px;
  vertical-align: middle;
  border: 2px;
  border-color: darkviolet;
  border-style: double;
}
.nav-link {
  color: darkviolet;
  font-size: 25px;
  text-shadow: 2px 4px 4px rgb(250, 250, 7);
  margin-right: 10px;
}
.btn {
  color: darkviolet;
  background-color: white;
  padding: 7px 10px 0.1px 10px;
  font-size: 25px;
  border: 2px solid;
  border-color: darkviolet;
  text-shadow: 2px 4px 4px rgb(250, 250, 7);
}
.btn:hover {
  color: white;
  background-color: darkviolet;
  padding: 7px 20px 4px 20px;
  font-size: 25px;
}
h1 {
  font-size: 50px;
  text-shadow: 2px 4px 4px rgb(250, 250, 7);
  margin-top: 100px;
}
h3 {
  font-size: 35px;
  text-shadow: 2px 4px 4px rgb(250, 250, 7);
  margin-bottom: 60px;
}
li {
  list-style-type: none;
  margin-top: 10px;
  color: white;
  background-color: darkviolet;
  padding: 4px 4px 4px 4px;
  font-size: 25px;
  margin-bottom: 60px;
}
ul {
  margin-top: 20px;
}
.category {
  color: white;
  background-color: darkviolet;
  font-size: 25px;
}
.category:hover {
  border: none;
  border-color: darkviolet;
}
* {
  margin: 0;
  padding: 0;
}
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.rating {
  display: flex;
  justify-content: center;
}
p {
  text-align: center;
}
.about-paragraph {
  font-size: 20px;
}
.about-photo {
  border-style: solid;
  border-color: darkviolet;
  border-width: 2px;
}
@media (max-width: 400px) {
  .btn {
    color: darkviolet;
    background-color: white;
    padding: 3px 5px 0.1px 7px;
    font-size: 18px;
    border: 2px solid;
    border-color: darkviolet;
    text-shadow: 2px 4px 4px rgb(250, 250, 7);
  }
  .btn:hover {
    color: white;
    background-color: darkviolet;
    padding: 7px 10px 4px 10px;
    font-size: 18px;
  }
  h1 {
    font-size: 30px;
    text-shadow: 1px 2px 2px rgb(250, 250, 7);
  }
  h3 {
    font-size: 20px;
    text-shadow: 1px 2px 2px rgb(250, 250, 7);
    margin-bottom: 30px;
  }
  .large-photos {
    width: 90%;
    height: auto;
    margin: 12px;
    vertical-align: middle;
    margin-bottom: 48px;
  }
  .small-photos {
    width: 40%;
    height: auto;
    margin: 10px;
    vertical-align: middle;
  }
  li {
    list-style-type: none;
    margin-top: 10px;
    color: white;
    background-color: darkviolet;
    padding: 4px 4px 4px 4px;
    font-size: 25px;
    margin-bottom: 15px;
  }
  .om-zapada {
    margin-bottom: 15px;
    width: 65%;
    padding-top: 0px!;
    margin-top: 0px !important;
  }
  .piersicute {
    width: 70%;
  }
}
.om-zapada {
  margin-top: 25px;
}
.feedback {
  color: darkviolet;
  margin-bottom: 0px;
  font-weight: bold;
}
footer {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
